.bar{
    display: flex;
    width: 270px;
    height: 20px;
    background-color: #E3F2FD;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.heading{
    margin: 1px 5px;
    padding: 0px;
}

.time{
   margin: 0px;
   padding: 0px; 
   margin-right: 20px;
}

.battery{
    width: 22px;
    height: 20px;
    margin-right: 3px;
}
