.bar{
    margin-top: -1px;
    display: flex;
    width: 270px;
    height: 20px;
    min-height: 20px;
    background-color: #E3F2FD;
    border-bottom: 1px solid black;
}

.heading{
    margin: 1px 5px;
    padding: 0px;
}

.time{
   margin: 0px;
   padding: 0px; 
   margin: auto;
}

.battery{
    width: 22px;
    height: 20px;
}

.right-container-nav{
    display: flex;
    flex-direction: row;
}

.play-pause-nav{
    font-size: 15px;
    margin: 0px;
    margin-right: 8px;
    padding: 0px;
    text-align: center;
    color: #039BE5;
}

.notification{
    margin: 1px;
    margin:auto;
    padding: 0px;
    text-align: center;
}